In [1]:
import pandas as pd
import psycopg2

In [17]:
pessoas = pd.read_csv('C:/Users/lande/OneDrive/Documents/GitHub/DATA_MINDS_Desafio/2/Pessoa.csv')
contratos = pd.read_csv('C:/Users/lande/OneDrive/Documents/GitHub/DATA_MINDS_Desafio/2/Contratos.csv')
pagamentos = pd.read_csv('C:/Users/lande/OneDrive/Documents/GitHub/DATA_MINDS_Desafio/2/Pagamentos.csv')

In [58]:
con = psycopg2.connect(
    host = 'localhost',
    database = 'Dataminds2',
    user = 'Lander',
    password = '1337'
)

In [7]:
pagamentos.head(30)

,CNPJ,DataVencimento,Valor,DataPagamento,ValorPagamento,Contratos_NumeroUnico,Pessoa_CPF
0,00.000.000/0000-01,20/06/2019,16957.50,20/06/2019,16957.5,NU11111111,111.111.111-11
1,00.000.000/0000-01,20/07/2019,16957.50,20/07/2019,16957.5,NU11111111,111.111.111-11
2,00.000.000/0000-01,19/08/2019,16957.50,19/08/2019,16957.5,NU11111111,111.111.111-11
3,00.000.000/0000-01,18/09/2019,16957.50,18/09/2019,16957.5,NU11111111,111.111.111-11
4,00.000.000/0000-01,18/10/2019,16957.50,31/10/2019,16957.5,NU11111111,111.111.111-11
5,00.000.000/0000-01,17/11/2019,16957.50,17/11/2019,16957.5,NU11111111,111.111.111-11
6,00.000.000/0000-01,17/12/2019,16957.50,26/12/2019,16957.5,NU11111111,111.111.111-11
7,00.000.000/0000-01,16/01/2020,16957.50,16/01/2020,16957.5,NU11111111,111.111.111-11
8,00.000.000/0000-01,15/02/2020,16957.50,17/02/2020,16957.5,NU11111111,111.111.111-11
9,00.000.000/0000-01,16/03/2020,16957.50,03/03/2020,16957.5,NU11111111,111.111.111-11
10,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
11,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
12,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
13,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
14,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
15,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
16,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
17,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
18,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
19,00.000.000/0000-01,09/02/2021,16957.50,NaN,0.0,NU11111111,111.111.111-11
20,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11
21,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11
22,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11
23,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11
24,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11
25,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11
26,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11
27,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11
28,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11
29,00.000.000/0000-01,16/07/2024,70969.27,NaN,0.0,NU11111115,111.111.111-11

In [42]:
cur = con.cursor()

None

In [59]:
con = psycopg2.connect(
    host = 'localhost',
    database = 'Dataminds2',
    user = 'Lander',
    password = '1337'
)


cur = con.cursor()

for index, row in pessoas.iterrows():
    cur.execute("""INSERT INTO public.pessoa(cpf) VALUES(%s);""",(row.CPF,))
    con.commit()

for index, row in contratos.iterrows():
    cur.execute("""INSERT INTO public.contratos(
	numerounico, cnpj, modalidade, indicadorprefixado, datavencimentoultimaparcela, valorcontratadofuturo, quantidadeparcelas, pessoa_cpf)
	VALUES (%s,%s, %s, %s, %s, %s, %s, %s);""",(row.NumeroUnico, row.CNPJ, row.Modalidade, bool(row.IndicadorPreFixado), row.DataVencimentoUltimaParcela, row.ValorContratadoFuturo, row.QuantidadeParcelas, row.Pessoa_CPF))
    con.commit()

for index, row in pagamentos.iterrows():
    
    if(type(row.DataPagamento)!=type('')): 
        
        cur.execute("""INSERT INTO public.pagamentos(
	    cnpj, datavencimento, valor, contratos_numerounico, pessoa_cpf)
	    VALUES (%s, %s, %s, %s, %s);""",(row.CNPJ, row.DataVencimento, row.Valor, row.Contratos_NumeroUnico, row.Pessoa_CPF))
        con.commit()
    
    else:
        cur.execute("""INSERT INTO public.pagamentos(
	    cnpj, datavencimento, valor, datapagamento, valorpagamento, contratos_numerounico, pessoa_cpf)
	    VALUES (%s, %s, %s, %s, %s, %s, %s);""",(row.CNPJ, row.DataVencimento, row.Valor, psycopg2.Date(int(str(row.DataPagamento)[6:10]),int(str(row.DataPagamento)[3:5]),int(str(row.DataPagamento)[:2])) , row.ValorPagamento, row.Contratos_NumeroUnico, row.Pessoa_CPF))
        con.commit()

cur.close()
con.close()

In [42]:
import datetime
import string

In [58]:

con = psycopg2.connect(
    host = 'localhost',
    database = 'Dataminds2',
    user = 'Lander',
    password = '1337'
)


cur = con.cursor()

for index, row in pagamentos.iterrows():
    
    if(type(row.DataPagamento)!=type('')): 
        
        cur.execute("""INSERT INTO public.pagamentos(
	    cnpj, datavencimento, valor, contratos_numerounico, pessoa_cpf)
	    VALUES (%s, %s, %s, %s, %s);""",(row.CNPJ, row.DataVencimento, row.Valor, row.Contratos_NumeroUnico, row.Pessoa_CPF))
        con.commit()
    
    else:
        cur.execute("""INSERT INTO public.pagamentos(
	    cnpj, datavencimento, valor, datapagamento, valorpagamento, contratos_numerounico, pessoa_cpf)
	    VALUES (%s, %s, %s, %s, %s, %s, %s);""",(row.CNPJ, row.DataVencimento, row.Valor, psycopg2.Date(int(str(row.DataPagamento)[6:10]),int(str(row.DataPagamento)[3:5]),int(str(row.DataPagamento)[:2])) , row.ValorPagamento, row.Contratos_NumeroUnico, row.Pessoa_CPF))
        con.commit()

    
cur.close()
con.close()

In [60]:
cur.close()
con.close()

In [53]:
for index, row in pessoas.iterrows():
    print(type(row['CPF']))

<class 'str'>
<class 'str'>