In [1]:
import pandas as pd
import psycopg2

In [87]:
pessoas = pd.read_csv('C:/Users/lande/OneDrive/Documents/GitHub/DATA_MINDS_Desafio/2/Pessoa.csv')
contratos = pd.read_csv('C:/Users/lande/OneDrive/Documents/GitHub/DATA_MINDS_Desafio/2/Contratos.csv')
pagamentos = pd.read_csv('C:/Users/lande/OneDrive/Documents/GitHub/DATA_MINDS_Desafio/2/Pagamentos.csv')

In [58]:
con = psycopg2.connect(
    host = 'localhost',
    database = 'Dataminds2',
    user = 'Lander',
    password = '1337'
)

In [44]:
contratos.head()

,NumeroUnico,CNPJ,Modalidade,IndicadorPreFixado,DataVencimentoUltimaParcela,ValorContratadoFuturo,QuantidadeParcelas,Pessoa_CPF,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NU11111111,00.000.000/0000-01,Parcelado,0,09/02/2021,339150,20,111.111.111-11,NaN,NaN,01/01/2019,01/01/2025
1,NU11111115,00.000.000/0000-01,Cartão de Crédito,0,16/07/2024,780662,11,111.111.111-11,NaN,NaN,NaN,NaN
2,NU11111116,00.000.000/0000-02,Parcelado,1,13/02/2023,50000,5,111.111.111-12,NaN,NaN,NaN,NaN
3,NU11111119,00.000.000/0000-03,Parcelado,0,22/03/2023,95000,15,111.111.111-11,NaN,NaN,NaN,NaN

In [42]:
cur = con.cursor()

None

In [68]:
con = psycopg2.connect(
    host = 'localhost',
    database = 'Dataminds2',
    user = 'Lander',
    password = '1337'
)


cur = con.cursor()

for index, row in pessoas.iterrows():
    cur.execute("""INSERT INTO public.pessoa(cpf) VALUES(%s);""",(row.CPF,))
    con.commit()

for index, row in contratos.iterrows():
    cur.execute("""INSERT INTO public.contratos(
	numerounico, cnpj, modalidade, indicadorprefixado, datavencimentoultimaparcela, valorcontratadofuturo, quantidadeparcelas, pessoa_cpf)
	VALUES (%s,%s, %s, %s, %s, %s, %s, %s);""",(row.NumeroUnico, row.CNPJ, row.Modalidade, bool(row.IndicadorPreFixado), row.DataVencimentoUltimaParcela, row.ValorContratadoFuturo, row.QuantidadeParcelas, row.Pessoa_CPF))
    con.commit()
    
cur.close()
con.close()

In [70]:
pagamentos.columns

Index(['CNPJ', 'DataVencimento', 'Valor', 'DataPagamento', 'ValorPagamento',
       'Contratos_NumeroUnico', 'Pessoa_CPF'],
      dtype='object')

In [92]:
con = psycopg2.connect(
    host = 'localhost',
    database = 'Dataminds2',
    user = 'Lander',
    password = '1337'
)


cur = con.cursor()

for index, row in pagamentos.iterrows():
    if(row.DataPagamento =='NaN'): 
        DataPagamento = None 
    else: 
        DataPagamento = row.DataPagamento
    cur.execute("""INSERT INTO public.pagamentos(
	cnpj, datavencimento, valor, datapagamento, valorpagamento, contratos_numerounico, pessoa_cpf)
	VALUES (%s, %s, %s, %s, %s, %s, %s);""",(row.CNPJ, row.DataVencimento, row.Valor, DataPagamento , row.ValorPagamento, row.Contratos_NumeroUnico, row.Pessoa_CPF))
    con.commit()

    
cur.close()
con.close()

DatatypeMismatch: column "datapagamento" is of type date but expression is of type double precision
LINE 3: ...UES ('00.000.000/0000-01', '09/02/2021', 16957.5, 'NaN'::flo...
                                                             ^
HINT:  You will need to rewrite or cast the expression.

In [60]:
cur.close()
con.close()

In [53]:
for index, row in pessoas.iterrows():
    print(type(row['CPF']))

<class 'str'>
<class 'str'>